.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(242, 242, 242, 0.9);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 400px;
  height: 500px;
  display: flex;
  justify-content: center;
}

.main-background {
  background-image: url('https://a-v2.sndcdn.com/assets/images/home/hp_image-6155d6b.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  border-top: 4px solid #f50;
  height: 450px;
}

.signin-button {
 background-color: Transparent;
 color: #fff;
 border-color: #ccc;
 height: 30px;
 line-height: 24px;
 margin: 0 0 0 6px;
 padding: 2px 15px;
 display: inline-block;
 position: relative;
 border-radius: 3px;
 font-weight: 100;
 font-size: 14px;
 font-family: sans-serif;
}

.signin-button:hover {
 cursor: pointer;
}

.create-account-button:hover {
 cursor: pointer;
}

.create-account-button {
 background-color: #f50;
 color: #fff;
 border-color: #f50;
 height: 30px;
 line-height: 24px;
 margin: 0 0 0 6px;
 padding: 2px 15px;
 display: inline-block;
 position: relative;
 border-radius: 3px;
 font-weight: 100;
 margin-top: 20px;
 font-size: 14px;
 margin-right: 50px;
 font-family: sans-serif;
}

.main-header {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.main-header-logo {
 margin-left: 30px;
 display: flex;
}

.main-header-name {
 color: #fff;
 font-size: 14px;
}

.main-header-logo-pic {
 align-self: center;
}

.main-header-name {
 font-weight: 400;
 font-size: 13px;
 font-family: sans-serif;
 padding-top: 5px;
 padding-left: 5px;
 letter-spacing: 1.5px;
}

.main-body-adtext {
 display: flex;
 flex-direction: column;
 padding-top: 80px;
}

.main-body-adtext-go {
 color: #fff;
 font-family: sans-serif;
 align-self: center;
 font-size: 34px;
 font-weight: 100;
 padding-bottom: 10px;
 height: 50px;
 margin-top: 5px;
 margin-bottom: 5px;
}

.main-body-adtext-text {
 color: #fff;
 font-family: sans-serif;
 align-self: center;
 font-size: 20px;
 font-weight: 100;
 max-width: 40%;
 text-align: center;
 margin-top: 5px;
 margin-bottom: 5px;
}

.main-body-buttons {
 display: flex;
 flex-direction: row;
 justify-content: center;
}

.main-body-adtext-b1 {
 background-color: Transparent;
 color: #fff;
 border-color: #ccc;
 height: 30px;
 line-height: 24px;
 padding: 2px 15px;
 display: inline-block;
 position: relative;
 border-radius: 3px;
 margin-top: 20px;
 margin-right: 10px;
 font-weight: 100;
 font-size: 14px;
}

.main-body-adtext-b1:hover {
  cursor: pointer;
}
.main-body-adtext-b2:hover {
  cursor: pointer;
}

.main-body-adtext-b2 {
 background-color: #f50;
 color: #fff;
 border-color: #f50;
 height: 30px;
 line-height: 24px;
 padding: 2px 15px;
 display: inline-block;
 position: relative;
 border-radius: 3px;
 font-weight: 100;
 margin-top: 20px;
 margin-left: 10px;
 font-size: 14px;
 margin-right: 50px;
}

.close-x {
 position: absolute;
 top: -100px;
 right: -260px;
 font-family: sans-serif;
}

.modal-continue-button {
 background-color: #f50;
 color: #fff;
 border-color: #f50;
 height: 30px;
 line-height: 24px;
 padding: 2px 15px;
 border-radius: 3px;
 font-weight: 300;
 width: 307px;
 margin-top: 40px;
 font-family: sans-serif;
 font-size: 14px;
}

.modal-demo-button {
 background-color: #f50;
 color: #fff;
 border-color: #f50;
 height: 30px;
 padding: 2px 15px;
 border-radius: 3px;
 font-weight: 300;
 width: 307px;
 margin-top: 15px;
 font-family: sans-serif;
 font-size: 14px;
}

.modal-demo-button:hover {
  cursor: pointer;
}

.modal-continue-button:hover {
  cursor: pointer;
}

.modal-input {
 width: 300px;
 height: 25px;
 margin-top: 15px;
 font-size: 14px;
 padding-left: 8px;
}

.modal-input:first-of-type {
 margin-top: 30px;
}

.modal-image-cont {
 display: flex;
 justify-content: center;
}

.modal-image {
 height: 150px;
 width: 150px;
}

.login-errors {
  list-style-type: none;
  color: #f50;
  font-family: sans-serif;
  margin-left: -36px;
  font-size: 12px;
}

.main-bottom {
  margin-top: 140px;
  background-color: #fff;
}

.main-bottom-header {
  text-align: center;
  font-family: sans-serif;
  font-weight: 300;
  color: #333;
  font-size: 24px;
}


.splash-song-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.song-splash-item-li {
  list-style: none;
}

.song-splash-item-artistname {
  font-family: sans-serif;
  font-weight: 300;
  color: #999;
  font-size: 13px;
  margin: 0px 15px 5px 20px;
}

.song-splash-item-songname {
  font-family: sans-serif;
  font-weight: 300;
  color: #333;
  font-size: 14px;
  margin: 2px 15px 5px 20px;
}

.song-splash-item-art {
  height: 185px;
  width: 185px;
  margin: 20px 15px 5px 15px;
}

.splash-footer {
  background-color: #fff;
  margin-top: 0;
  padding-top: 20px;
}

.splash-footer-div {
  width: 90%;
  margin-left: 40px;
  padding-top: 5px;
  padding-bottom: 10px;
  border-top: 3px solid whitesmoke;
  display: flex;
  flex-direction: row;
}

.splash-footer-text {
  font-family: sans-serif;
  font-weight: 300;
  color: #999;
  font-size: 13px;
  margin-left: 5px;
}
